body {
	background: url("../images/body-bg.jpg") no-repeat;
	background-size: cover;
}
.nav-menu {
  padding: 20px;
  font-size: 14pt;
  font-weight: 600;
  background: #598415;
}

.nav-item {
  display: inline-block;
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  text-decoration: underline;
  color: #32cd32;
}

.content {
  color: #000080;
  background: #d0ca14;
  width: 300px;
  margin: 25px auto 0;
  border-radius: 5px;
  border-width: 2px;
  border-color: #ccc;
  border-style: solid;
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
}
.content span {
	color: #ccc;
	text-shadow: 1px 1px 1px #000;
	font-weight: 600px;
	font-style: italic;
	font-size: 16px;
}
.content:hover {
	cursor: pointer;
	background: #f00;
	border-color: #000;
	box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.65);
}
.content:hover span {
	color: #fff;
	text-shadow: none;
}
.circle {
	height: 100px;
	width: 100px;
	margin: 25px auto;
	border-radius: 50%;
	background: #f00;
}
.sub-menu {
	background: #598415;
	border-radius: 5px;
	border: 1px solid black;
	padding: 10px;
	display: none;
}
.sub-menu a {
	display: block;
	font-size: 13px;
	font-weight: normal;
	padding: 5px 5px 5px 10px;
	border-bottom: 1px solid #fff;
	color: #fff;
	text-decoration: none;
}
.sub-menu a:hover {
	text-decoration: underline;
}
.nav-link:hover + .sub-menu {
	display: block;
}